* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    /* text-align: center; */
}

body {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    background: #f3f3f3;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

input,
.btn {
    font-size: 18px;
    padding: 20px;
}

.bookList {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
}